@charset "UTF-8";

html {
  font-size: 100%;
  background-color: #F4F9FF;
  align-items: center;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

.content {
    margin: 0 auto;
}

.inner {
    max-width: 600px;
    margin: 0 auto;
    font-size: 0.875rem;
}
.section-title {
    font-size: 1.125rem;
    margin-bottom: 10px;
}
/* header */
#site-title {
    margin-top: 40px;
}
#site-title img {
    width: 160px;
}

/* main-visual */

#main-visual {
    margin:4px 10px 50px 0;
}
#main-visual img {
    width: 1000px;
    object-fit: cover
}
/* index */

#index {
    background-color: white;
    padding: 30px 0;
    margin-bottom: 60px;
}
#index .index-list {
    margin-left: 20px;
}

#index li {
    line-height: 40px;
}

/* detail */

#detail {
    margin-bottom: 100px;
  }
  #detail .content {
    display: flex;
  }
  #detail .content .title {
    font-size: 1.125rem;
    font-weight: bold;
  }
  #detail .content .img {
    width: 270px;
    margin-right: 60px;
  }
  #detail .content .text p {
    margin-bottom: 20px;
  }
  #detail .content dl {
    display: flex;
    /* 要素を横並びにする */
    flex-wrap: wrap;
    /* 要素を折り返して表示する */
    padding: 16px 0;
    margin-bottom: 25px;
    border-top: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
  }
  #detail .content dt {
    width: 25%;
    /* 要素を4分割している */
  } 
  #detail .content dd {
    width: 75%;
    /* 4分割した要素の右側を使っている */
  }
  #detail .content .link {
    color: #333;
  }
  #detail .content .link:hover {
    opacity: 0.8;
  }

  /* footer */

  #footer {
    padding: 15px 0;
  }
  #footer p {
      font-size: 0.625rem;
  }

  /* レスポンシブ */
  @media screen and (max-width: 1024px) {
    .inner {
      padding: 0 40px;
    }
  
    /*-------------------------------------------
    ヘッダー
    -------------------------------------------*/
    #site-title {
      padding: 0 10px;
    }
  
    /*-------------------------------------------
    Mainvisual
    -------------------------------------------*/
    #main-visual {
      margin: 0 10px 60px 10px ;
    }
    #main-visual img {
        width: 100%;
    }
    
    #index .index-list li {
        line-height: 20px;
        margin-top: 20px;
    }
    /*-------------------------------------------
    Detail
    -------------------------------------------*/
    #detail .content {
      flex-direction: column;
    }
    #detail .content .img {
      width: 100%;
      margin: 0 0 25px 0;
    }
  }